h1 {
    font-size: 2em;
}

.col-7 {
    position: relative;
    width: 14%;
    display: inline-flex;
}

.col-6 {
    position: relative;
    width: 16.66%;
    display: inline-flex;
}

.col-4 {
    position: relative;
    width: 25%;
    display: inline-flex;
}

.userCard img {
    padding: 0px;
    width: 100%;
    max-height: 100px;
}


.no-highlight {
    border-radius: 10%;
    border: 1px solid;
    margin: 3px;
}

.highlight-ok {
    border-radius: 10%;
    border: 2px solid limegreen;
    margin: 2px;
}

.highlight-no-match {
    border-radius: 10%;
    border: 2px solid red;
    margin: 2px;
}

#last-move {
    max-height: 6.0em;
    min-height: 0em;
    overflow:scroll;
}

#how-to-play {
    clear: left;
}


